.App {
  background: var(--pale-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Name {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: -2px 2px 0px var(--light-purple), -4px 4px 0px var(--med-purple), -6px 6px 0px var(--dark-purple);
}

.Background {
  position: absolute;
  left: 0;
  top: 0;
}

.Body {
  position: absolute;
  width: 75%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Nav {
  background-color: rgb(225,225,255, 0.5);
}

.NavLink {
  color: var(--dark-purple);
  margin: 5px;
  text-decoration: none;
}

.NavLink--active {
  color: white;
  text-shadow: -1px 1px 3px var(--dark-purple), 1px -1px 3px var(--dark-purple), 1px 1px 3px var(--dark-purple), -1px -1px 3px var(--dark-purple);
}